@charset "UTF-8";

:root {
    --cor01: #012340;
    --cor02: #1f5e48;
    --cor03: #1d7a46;
    --cor04: #2ead5b;
    --cor05: #40dd68;
}

*{
    margin: 0%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cor01);
    margin: auto;
    text-align: center;
}

header {
    text-align: center;
    padding-top: 10px;
    background-image: linear-gradient(to bottom, var(--cor05) 40%, var(--cor02) );
}

header h1 {
    color: black;
    font-size: 4em;
    padding-bottom: 10px;
}

header p {
    font-size: 1.2em;
    color: white ;
    padding-bottom: 15px;
    font-weight: bold;
}

nav {
    background-color: var(--cor02);
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    
}

nav a {
    margin: 5px;
    padding: 5px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    background-color: var(--cor05);
    border-radius: 5px;
    color: black;
    font-size: 1.1em;
}

main {
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    background-color: var(--cor03);
    max-width: 800px;
    border-radius: 10px;
}

div {
    text-align: center;
    
}
div#acesso {
    margin: auto;
    padding: 60px;
    padding-top: 20px;
    color: white;
    background-color: var(--cor01);
    max-width: 500px;
    border-radius: 10px;
}

div#acesso > h2 {
   padding-bottom: 30px;
}

div#acesso > form {
    color: white;
    padding: 10px;
    font-weight: bold;
}
div#acesso > form > input{
    font-size: 1.2em;
    margin: 10px;
    height: 30px;
    width: 300px;
    border-radius: 5px;
}

div#acesso > form > input#entrar {
    background-color: var(--cor01);
    color: white;
    border: none;
    font-weight: bold;
    max-width: 80px;
}

div#acesso > form > input#entrar:hover {
    background-color: var(--cor05);
    border-radius: 5px;
    color: black;
    font-size: 1.1em;
}
